// Insert your variables
$orange         : #BD3613;
$blue           : #2176C7;
$grey     : #AAAAAA;

$primary-color-dark   : #1976D2;
$primary-color      : #2196F3;
$primary-color-light  : #BBDEFB;
$white    : #FFFFFF;
$black    : #000000;
$accent-color     : #607D8B;
$primary-text-color   : #212121;
$secondary-text-color : #000000;
$divider-color      : #B6B6B6;

$header-color   : #FFFFFF;
$header-height  : 60px;
$header-height-mini  : 30px;

$section-colors   : $primary-color-dark, $primary-color-dark, $primary-color;
$section-colors-length: length($section-colors);

$link : #1976D2;
$visit  : #2196F3;
$hover  : #BBDEFB; 
$active : #607D8B;

// $colors-list   : $primary-color-dark, $primary-color, $primary-color-light;

// $header-img: image-url('/media/bear.jpg', false, false);


$font-secondary: 'Gloria Hallelujah', cursive;
$font-primary: 'Roboto', sans-serif;

$font-title: 'Gorditas', cursive;

$default-border-radius : 10px;